/*.controls{
    overflow: hidden;
    background-color: #0087c3;
}

.checkbox{
    overflow: auto; 
    height: 80px;
    width:150px;
}*/

.controls{
   
    background-color: #0087c3;
}

.well{
	overflow: hidden;
	overflow-y: scroll;
	height: 130px;
}

.checkbox{
    overflow: auto; 
    height: 80px;
    width:150px;
}

