/bin
/include
/lib
/local
/share
*.pyc
*.pyo
*~
__pycache__
*.sqlite3
src/verd_andi/db.sqlite3
src/verd_andi/verd_andi/localVars.py
src/static_in_env/*
src/media_cdn/*
test-data/frhea-pics-2017/
pip-selfcheck.json
/man
*.ini

pg_data
app_data

# These are build products from the docker-compose
src/verd_andi/entrypoint.sh
src/verd_andi/survey/migrations/0035_auto_20190718_1413.py
