/bin
/include
/lib
/local
/share
*.pyc
*.pyo
*~
__pycache__
*.sqlite3
src/verd_andi/db.sqlite3
src/verd_andi/verd_andi/localVars.py
src/static_in_env/*
src/media_cdn/*
test-data/frhea-pics-2017/
pip-selfcheck.json
/man
docker-compose.yml
*.ini