{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ STATIC_ROOT }}style.css" />
    <title>{% block title %}User test{% endblock %}</title>

    {% include 'head_css.html' %}

</head>

<body>
    {% include 'navbar.html' %}
    <div id="header">
        {% block header %}
        <a href="{% url 'index' %}">Home</a> | 

        {% if user.is_authenticated %}
            Logged in: {{ user.username }} 
            (<a href="{% url 'auth_logout' %}">Log out</a> | 
            <a href="{% url 'auth_password_change' %}">Change password</a>)
        {% else %}
           <a href="{% url 'auth_login' %}">Log in</a>
        {% endif %}
        <hr />
        {% endblock %}
    </div>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
    </div>
     <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
</body>

</html>
