{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ STATIC_ROOT }}style.css" />
    <title>{% block title %}Verð-andi{% endblock %}</title>
   <link rel='shortcut icon' type='image/x-icon' href="{% static 'img/logo-hagstofa-blue2.png' %}" /> 
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, user-scaleable=0" />


    {% include 'head_css.html' %}

</head>

<body>
    {% include 'navbar.html' %}

    <div id="content" class="container">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
    {% block footer %}
    
    {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

     <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js" integrity="sha384-sl2LNalPRD3qrS3TKmINXWwRcQKf9cUlNZGd8pqjlpzwbzgMsFgE+133u4kM32IR" crossorigin="anonymous"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      // Create the QuaggaJS config object for the live stream
      var liveStreamConfig = {
          inputStream: {
            type : "LiveStream",
            constraints: {
              width: {max: 640},
              height: {max: 480},
              // aspectRatio: {min: 1, max: 100},
              facingMode: "environment" // or "user" for the front camera
            }
          },
          locator: {
            patchSize: "medium",
            halfSample: true
          },
          numOfWorkers: (navigator.hardwareConcurrency ? navigator.hardwareConcurrency : 4),
          decoder: {
            "readers":[
              {"format":"ean_reader","config":{}}
            ]
          },
          locate: true
        };
      // The fallback to the file API requires a different inputStream option. 
      // The rest is the same 
      var fileConfig = $.extend(
          {}, 
          liveStreamConfig,
          {
            inputStream: {
              size: 800
            }
          }
        );
      // Start the live stream scanner when the modal opens
      $('#livestream_scanner').on('shown.bs.modal', function (e) {
        Quagga.init(
          liveStreamConfig, 
          function(err) {
            if (err) {
              $('#livestream_scanner .modal-body .error').html('<div class="alert alert-danger"><strong><i class="fa fa-exclamation-triangle"></i> '+err.name+'</strong>: '+err.message+'</div>');
              Quagga.stop();
              return;
            }
            Quagga.start();
          }
        );
        });
      
      // Make sure, QuaggaJS draws frames an lines around possible 
      // barcodes on the live stream
      Quagga.onProcessed(function(result) {
        var drawingCtx = Quagga.canvas.ctx.overlay,
          drawingCanvas = Quagga.canvas.dom.overlay;
     
        if (result) {
          if (result.boxes) {
            drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
            result.boxes.filter(function (box) {
              return box !== result.box;
            }).forEach(function (box) {
              Quagga.ImageDebug.drawPath(box, {x: 0, y: 1}, drawingCtx, {color: "green", lineWidth: 2});
            });
          }
     
          if (result.box) {
            Quagga.ImageDebug.drawPath(result.box, {x: 0, y: 1}, drawingCtx, {color: "#00F", lineWidth: 2});
          }
     
          if (result.codeResult && result.codeResult.code) {
            Quagga.ImageDebug.drawPath(result.line, {x: 'x', y: 'y'}, drawingCtx, {color: 'red', lineWidth: 3});
          }
        }
      });
      
      // Once a barcode had been read successfully, stop quagga and 
      // close the modal after a second to let the user notice where 
      // the barcode had actually been found.
      Quagga.onDetected(function(result) {        
        if (result.codeResult.code){
          $('#id_barcode').val(result.codeResult.code);
          Quagga.stop();  
          setTimeout(function(){ $('#livestream_scanner').modal('hide'); }, 1000);      
        }
      });
        
      // Stop quagga in any case, when the modal is closed
        $('#livestream_scanner').on('hide.bs.modal', function(){
          if (Quagga){
            Quagga.stop();  
          }
        });
      
      // Call Quagga.decodeSingle() for every file selected in the 
      // file input
      $("#livestream_scanner input:file").on("change", function(e) {
        if (e.target.files && e.target.files.length) {
          Quagga.decodeSingle($.extend({}, fileConfig, {src: URL.createObjectURL(e.target.files[0])}), function(result) {alert(result.codeResult.code);});
        }
      });
    });
    </script>
</body>

</html>
