{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ STATIC_ROOT }}style.css" />
    <title>{% block title %}Verð-andi{% endblock %}</title>
   <link rel='shortcut icon' type='image/x-icon' href='{% static 'img/logo-hagstofa-blue2.png' %}' /> 

    {% include 'head_css.html' %}

</head>

<body>
    {% include 'navbar.html' %}

    <div id="content" class="container">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
    {% block footer %}
    
    {% endblock %}
    </div>
     <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
