<!-- observer_items.html -->
{% extends "base.html" %}

{% block content %}

{% if target_user %}
<h4>  Observer Items for user: {{target_user}} </h4>
{% endif %}


{% if target_user_id %}
<p hidden id="user_id">{{ target_user_id }}</p>
{% endif %}

{% if items or chosen_items %}
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="&#xf002;">
	<ul id="myUL">
	{% if chosen_items %}
		{% for citem in chosen_items %}
		<li>
		<span>
        <input type="checkbox" aria-label="..." onchange="onCheckboxChange(this)" data="{{ citem.code }}" checked="true" iobspk="{{ citem.iobspk }}">
        <a href="#">{{ citem.label }}</a>
        </span>
    </li>
		{% endfor %}
	{% endif %}
	{% if items %}
		{% for item in items %}


		<li>
			<span>
	        <input type="checkbox" aria-label="..." onchange="onCheckboxChange(this)" data="{{ item.code }}">
	        <a href="#">{{ item.label }}</a>
	        </span>
	    </li>

		{% endfor %}
	{% endif %}
	</ul>

	<script>
	function myFunction() {
	    // Declare variables
	    var input, filter, ul, li, a, i;
	    input = document.getElementById('myInput');
	    filter = input.value.toUpperCase();
	    ul = document.getElementById("myUL");
	    li = ul.getElementsByTagName('li');

	    // Loop through all list items, and hide those who don't match the search query
	    for (i = 0; i < li.length; i++) {
	        a = li[i].getElementsByTagName("a")[0];
	        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
	            li[i].style.display = "";
	        } else {
	            li[i].style.display = "none";
	        }
	    }
	}

	function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
	}


	function onCheckboxChange(thing) {
		var uid = $('#user_id')[0].innerHTML;
		var item_id = thing.getAttribute("data");
		var checked = thing.checked
		// if true do create, if false do destroy
		if(! checked){
			var obs_item = thing.getAttribute("iobspk");
			var template_string = "{% url 'api:obs-item-destroy' 1 %}";
			var csrf_token = "{% csrf_token %}";
			var tarr = template_string.split("/");

			tarr[3] = obs_item;
			var newstr = tarr.join("/");
			var csrftoken = getCookie('csrftoken');

			$.ajax({
		    url: newstr,
		    method: 'DELETE',
		    data: {'CSRF':csrftoken,'username': "{{ user_name }}"},
		    headers: {
		    	"X-CSRFToken":csrftoken
		    },
		    dataType:"json",
		    success: function(result) {
		        console.log(result);
		    }
			});
		}
		else{

			var obs_item = thing.getAttribute("data");
			var user_id = $("#user_id")[0].innerHTML;
			var url_string = "{% url 'api:obs-item-create' %}";

			var csrftoken = getCookie('csrftoken');
			var datastring = '{' + '"user"' +':' + user_id + ',' + '"item"' +':'+ '"' +obs_item + '"' + '}' ;
			$.ajax({
		    url: url_string,
		    method: 'POST',
		    type:'POST',
		    data: datastring,
		    headers: {
		    	"X-CSRFToken":csrftoken,
		    	"Content-Type":"application/json",
		    },
		    dataType:"json",

		    success: function(result) {
		        console.log(result);
		    }
			});


		}
		
	}
	</script>


{% endif %}


{% endblock %}