<!-- survey_dash.html -->
{% extends "base.html" %}

{% block content %}

{% if request.user.is_superuser %}
	<h3>Admin tools:</h3>
	<a href="{% url 'survey:observers-management' %}">Manage ItemObservers</a>
	</br>
	<a href="{% url 'survey:survey-list' %}">surveys</a>
	</br>
	<a href="{% url 'admin:index' %}">django admin area</a>
{% endif %}


{% if items %}
	<h3>Items:</h3>
	{% for instance in items %}
		<div class="well">
		{% if instance.observed %}
		 <a href="{% url 'survey:item-observation' instance.code %}"> {{ instance.label }}</a>
		 {% else %}
		 <a href="{% url 'survey:item-observation' instance.code %}" style="font-weight: bold;"> {{ instance.label }}</a>
		 {% endif %}
		 {% if request.user.is_superuser %}  -   <a href="{% url 'survey:item-commentary-edit' instance.code %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
		
</a> {% endif %}
		</br>
		<p>{{ instance.code }}</p>

		</div>
	{% endfor %}
{% endif %}


<hr>

<h3>Item Search for survey:</h3>
	{% if surveys %}
		{% for surv in surveys %}
	<a href="{% url 'survey:survey-search' surv.pk %}">{{ surv.code }}-{{ surv.year }}</a>
	</br>
		{% endfor %}
	{% endif %}

<!-- 
{% if observations %}
<hr>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#previous-observations-more">	<strong>
                Previous Observations
            </strong>
        </button>
          
        <div id="previous-observations-more" class="collapse">
            
		    {% for obs in observations %}
				<a href="{% url 'survey:observation-update' obs.pk %}">   {{ obs.obs_time }} {{ obs.item.label }} </a> --- <a href="{% url 'survey:observation-delete' obs.pk %}"><i class="fa fa-trash" aria-hidden="true"></i>
				</a> 
				</br>

			{% endfor %}
        </div>   
{% endif %}
</br> -->


{% if obs_item_list %}

	<hr>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#previous-observations-more2">	<strong>
                Previous Observations
            </strong>
        </button>

    </br>
          
        <div id="previous-observations-more2" class="collapse">
            <!-- observations here -->
		    {% for obs_item in obs_item_list %}
		    	<button type="button" class="btn btn-success" data-toggle="collapse" data-target="#previous-observations-more-aggregate-{{ forloop.counter }}">	<strong>
                ({{obs_item.count}}) -- 

                {% with obs_item.observations|first as obs_x %}
  					{{ obs_x.item.code }}
				{% endwith %}

            	</strong>
        		</button>


        		
        		<div id="previous-observations-more-aggregate-{{forloop.counter}}" class="collapse">
            <!-- observations here -->
		    	{% for obs in obs_item.observations %}
				<a href="{% url 'survey:observation-update' obs.pk %}">   {{ obs.obs_time }} {{ obs.item.label }} </a> <!-- --- <a href="{% url 'survey:observation-delete' obs.pk %}"><i class="fa fa-trash" aria-hidden="true"></i> -->
				</a> 
				</br>

			{% endfor %}
        </div> 
		    	
		    	</br>
		    	

			{% endfor %}
        </div>   

{% endif %}

{% endblock %}