<!-- survey_dash.html -->
{% extends "base.html" %}

{% block content %}
This is you survey dash.

{% if items %}
	<h2>Items</h2>
	{% for instance in items %}
		<a href="{% url 'survey:item-observation' instance.code %}"> {{ instance.label }}  ---  {{ instance.code }}</a>
		</br>

	{% endfor %}
{% endif %}


<hr>

<h3>Item Search for survey:</h3>
	{% if surveys %}
		{% for surv in surveys %}
	<a href="{% url 'survey:survey-search' surv.pk %}">{{ surv.code }}-{{ surv.year }}</a>
	</br>
		{% endfor %}
	{% endif %}
{% endblock %}